<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <node pkg="rovio" type="rovio_rosbag_loader" name="rovio" output="screen">
  <param name="filter_config" value="$(find rovio)/cfg/rovio_equi.info"/>
  <param name="camera0_config" value="$(find rovio)/cfg/cam0_equi.yaml"/>
  <param name="camera1_config" value="$(find rovio)/cfg/cam1_equi.yaml"/>
  <param name="rosbag_filename" value="/home/oveggeland/master_project/rovio/data/office_rounds/office_round2.bag"/>
  <param name="imu_topic_name" value="/imu_acc_ar"/>
  <param name="cam0_topic_name" value="/cam0/cam0"/>
  <param name="cam1_topic_name" value="/cam1/cam1"/>
  </node>
</launch>