<launch>
    <!-- Launch synchronizer server-->
    <node pkg="synchronizer" name="synchronize_server" type="server.py" output="screen" args = "1"> </node>

    <!-- Launch openimu driver -->
    <include file="$(find ros_openimu)/launch/openimu_driver.launch"/>

    <!-- Launch cameras -->
    <include file="$(find blackfly)/launch/1_camera.launch"/>  
</launch>